@font-face {
  font-family: "iconfont"; /* Project id 5026775 */
  src: url('iconfont.woff2?t=1758428166808') format('woff2'),
       url('iconfont.woff?t=1758428166808') format('woff'),
       url('iconfont.ttf?t=1758428166808') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e6da";
}

